<launch>
    <node 
		name="mode_change"
		pkg="mavros_frame"
		type="mode_change" >
	</node>
    <node 
		name="thruster_control_webportal"
		pkg="mavros_frame"
		type="thruster_control_webportal" >
	</node>
    <node 
		name="joy_node"
		pkg="joy"
		type="joy_node" >
		<param name="autorepeat_rate" value="1"/>
	</node>
</launch>